{% extends 'main.html' %}
{% block title %}home{% endblock %}
{% block content %}

{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}

<div>
    <div class="container pt-4">
        <div class="row p-0 mt-4">
            <div class="col-lg-4 mx-auto shadow ">
                <div class="alert alert-info">
                    <h2>Add New Todo</h2>
                </div>
                <div class="p-4">
                    <form method='POST' action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr>
                        <input type="submit" class='btn btn-info'>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="border">
                    <div>
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Priority</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for todo in todos %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{todo.title}}</td>
                                    <td>{{todo.status}}</td>
                                    <td>{{todo.priority}}</td>
                                    <td><a href="editTodo/{{todo.id}}" class="btn btn-info" >Edit</a></td>
                                    <td><a href="deleteTodo/{{todo.id}}" class="btn btn-danger" >Delete</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}